<section>
  <h1>What my colleagues say about me</h1>
  <div class="references">
    <div [@slide]="menuState">
      @for (ref of referenceArray(); track ref.name; let i = $index) {
      <app-referenc [referenc]="ref" [active]="i === 2"></app-referenc>}
    </div>
  </div>
  <div class="slide-menu">
    <div
      (click)="slide(+1)"
      (mouseover)="isHoveredLeft = true"
      (mouseleave)="isHoveredLeft = false"
    >
      <img
        [src]="
          isHoveredLeft
            ? 'assets/imgs/icon-interactiv/left-arrow-hover.png'
            : 'assets/imgs/icon-interactiv/left-arrow.png'
        "
      />
    </div>
    <div>•</div>
    <div>•</div>
    <div>•</div>
    <div
      (click)="slide(-1)"
      (mouseover)="isHoveredRight = true"
      (mouseleave)="isHoveredRight = false"
    >
      <img
        [src]="
          isHoveredRight
            ? 'assets/imgs/icon-interactiv/right-arrow-hover.png'
            : 'assets/imgs/icon-interactiv/right-arrow.png'
        "
        alt=""
      />
    </div>
  </div>
</section>
