@use "./../shared/styles/index" as *;
section {
  height: 542px;
  background-color: var(--color-3);
  @extend .d-flex-dirc-c;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
  .references {
    position: relative;
    max-width: 1920px;
    @include font(Karla, var(--fontSize-2), 400, var(--color-2));
    height: 380px;
    display: flex;
    overflow: hidden;
    .quotes-icon {
      position: absolute;
      left: 32%;
      top: 28px;
      z-index: 1;
    }
    > div {
      @extend .d-flex-align-c;
      gap: 140px;
      max-width: 2420px;
      position: relative;
      right: 900px;
    }
  }
  h1 {
    @include font(FiraCode, var(--fontSize-5), 700, var(--color-1));
  }
}
.slide-menu {
  @extend .d-flex-align-c;
  justify-content: center;
  gap: 20px;
  width: 184px;
  height: 40px;
  color: var(--color-2);
  .ref-slider {
    cursor: pointer;
  }
  > div {
    @extend .d-flex-align-c;
    width: 40px;
    height: 40px;
    > img {
      width: 40px;
      height: 40px;
    }
  }
}

.referenc {
  transition: transform 1s ease-in-out;
  transform: scale(1);
}

.dot {
  &.active {
    color: var(--color-1);
    scale: 2;
  }
}
