@use "./../shared/styles/index" as *;
section {
  background-color: var(--color-3);
  padding-bottom: 80px;
  overflow-x: hidden;
  .references {
    @include font(Karla, var(--fontSize-2), 400, var(--color-2));
    display: flex;
    .quotes-icon {
      left: 41%;
      z-index: 1;
      top: 22px;
    }
    > .slide-container {
      scroll-snap-type: x mandatory;
      padding: 88px 8.4% 112px;
      gap: 8vw;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  h1 {
    @include font(FiraCode, var(--fontSize-5), 700, var(--color-1));
    width: 80vw;
    text-align: center;
  }
}
.slide-menu {
  gap: 20px;
  max-width: 184px;
  height: 40px;
  color: var(--color-2);
  .ref-slider {
    cursor: pointer;
  }
}

.wrapper-referenzes {
  overflow: hidden;
}

.referenc {
  transition: transform 1s ease-in-out;
}

.dot {
  &.active {
    color: var(--color-1);
    scale: 2;
  }
}

@media (max-width: 800px) {
  section {
    .references {
      .quotes-icon {
        scale: (0.75);
        left: 40%;
      }
    }
  }
}
