<section>
  <div class="about-me-wrapper">
    <div class="img-wrapper">
      <div class="foto">
        <img src="../../assets/imgs/profil-img/coffee.jpg" alt="" />
      </div>
    </div>
    <div class="info-wrapper">
      <div class="about-me-info">
        <p>Who I Am</p>
        <div class="about-me-text">
          <h1>About me</h1>
          <div class="about-me-descrption">
            <p>
              Hey there, I'm Lukas! Write some information about yourself that
              is IT related. Why are you passionate about coding? What is your
              source of inspiration for improving your programming skills
            </p>
            <div>
              @for (part of aboutMeArray; track $index) {
              <div class="highlights">
                <img [src]="part.src" alt="" />
                <p>
                  {{ part.text }}
                </p>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
