@use "./../shared/styles/index" as *;
section {
  font-family: "Karla";
  background-color: var(--color-3);
  .about-me-wrapper {
    gap: 64px;
    padding: 76px var(--pad-wide);
    > .img-wrapper {
      width: 100%;
      flex: 1;
      align-self: self-start;
      .foto {
        aspect-ratio: 1;
        max-height: 568px;
        max-width: 568px;
        > img {
          z-index: 1;
        }
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 28px,
            var(--color-1) 28px,
            var(--color-1) 29px
          );
          opacity: 0;
          transition: all 0.3s ease;
        }
        &:hover::after {
          transform: translate(-44px, 28px);
          opacity: 1;
        }
      }
    }
    .info-wrapper {
      max-width: 50%;
      flex: 1;
      display: flex;
      min-height: 708px;
      .about-me-info {
        align-self: self-end;
        color: var(--color-1);
        gap: 20px;
        max-width: 568px;
        > p {
          @include font(Karla, var(--fontSize-4), 500, var(--color-1));
        }
        .about-me-text {
          background-color: #3dcfb61a;
          border: 1px solid var(--color-1);
          padding: var(--pad-container-wide);
          gap: 40px;
          .about-me-descrption {
            @include font(Karla, var(--fontSize-2), 400, var(--color-2));
            gap: 32px;
            > div {
              gap: 16px;
            }
            .highlights {
              gap: 24px;
              > img {
                width: 32px;
                height: 32px;
                align-self: flex-start;
                margin-left: -16px;
                object-fit: none;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  section {
    .about-me-wrapper {
      gap: 44px;
      padding: 76px var(--pad-1100);
      .img-wrapper,
      .info-wrapper {
        align-self: center;
        .about-me-info {
          max-width: 100%;
        }
        .about-me-text {
          padding: 32px var(--pad-container-1100);
          gap: 32px;
          p {
            font-size: var(--fontSize-1);
          }
        }
        .foto {
          padding-top: 16px;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  section {
    .about-me-wrapper {
      flex-direction: column;
      padding: 76px var(--pad-800);
      .info-wrapper {
        min-height: 460px;
        max-width: 100%;
        .about-me-info {
          .about-me-text {
            padding: 32px var(--pad-container-800);
            .about-me-descrption {
              .highlights {
                gap: 12px;
                > img {
                  margin-left: 0px;
                }
              }
            }
          }
        }
        .foto {
          max-width: 100%;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  section {
    .about-me-wrapper {
      > .img-wrapper {
        .foto {
          width: 80vw;
          height: 80vw;
          &:hover::after {
            transform: translate(-24px, 20px);
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    .about-me-wrapper {
      gap: 40px;
      padding: 76px var(--pad-400);
    }
  }
}
