<section id="about-me-section">
  <div class="about-me-wrapper">
    <div class="img-wrapper">
      <div class="foto">
        <img src="../../assets/imgs/profil-img/coffee.jpg" alt="" />
      </div>
    </div>
    <div class="info-wrapper">
      <div class="about-me-info">
        <p>{{ "ABOUT_ME.HEADLINE" | translate }}</p>
        <div class="about-me-text">
          <h1 class="green-headline-700">{{ "ABOUT_ME.TITEL" | translate }}</h1>
          <div class="about-me-descrption">
            <p>
              {{ "ABOUT_ME.GENERAL_TEXT" | translate }}
            </p>
            <div>
              @for (part of aboutMeArray; track $index) {
              <div class="highlights">
                <img [src]="part.src" alt="" />
                <p>
                  {{ part.text | translate }}
                </p>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
