@import "../../styles";
section {
  font-family: "Karla";
  @extend .d-flex-align-c;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: var(--color-3);
  h1 {
    font-family: "FiraCode";
    font-weight: 700;
    font-size: 64px;
  }
  .about-me-wrapper {
    @extend .d-flex-align-c;
    justify-content: center;
    gap: 214px;
    min-height: 708px;
    > .img-wrapper {
      min-height: 708px;
      max-width: 50%;
      transition: background-color 300ms;
      align-self: self-start;
      border-radius: 30px;
      .foto {
        position: relative;
        height: 568px;
        width: 568px;
        border-radius: 30px;

        > img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 30px;
          z-index: 1;
          position: relative;
        }
        &::after {
          transition: all 0.3s ease;
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 28px,
            var(--color-1) 28px,
            var(--color-1) 29px
          );
          opacity: 0;
          transition: all 0.3s ease;
        }
        &:hover::after {
          transform: translate(-44px, 28px);
          opacity: 1;
        }
      }
    }
    .info-wrapper {
      width: 50%;
      display: flex;
      min-height: 708px;
      .about-me-info {
        @extend .d-flex-dirc-c;
        align-self: self-end;
        color: var(--color-1);
        gap: 20px;
        > p {
          font-weight: 500;
          font-size: 24px;
          font-style: medium;
        }
        .about-me-text {
          background-color: #3dcfb61a;
          border-radius: 30px;
          border: 1px solid var(--color-1);
          padding: 32px;
          width: 568px;
          @extend .d-flex-dirc-c;
          gap: 40px;
          .about-me-descrption {
            @extend .d-flex-dirc-c;
            gap: 32px;
            font-size: 18px;
            font-weight: 400;
            color: var(--color-2);
            > div {
              @extend .d-flex-dirc-c;
              gap: 16px;
            }
            .highlights {
              width: 100%;
              min-width: 519px;
              @extend .d-flex-align-c;
              gap: 24px;
              > img {
                width: 32px;
                height: 32px;
                align-self: flex-start;
                margin-left: -16px;
                object-fit: none;
              }
            }
          }
        }
      }
    }
  }
}
