@use "./../shared/styles/index" as *;
section {
  background: url(../../assets/imgs/background/Background.png) center center /
    cover no-repeat;
  height: 100vh;
  font-family: "Karla";
  overflow: hidden;
}
.title-box {
  color: #d9d9d9;
  height: 100%;
  gap: 12px;
  > div {
    gap: 40px;
  }
}
h1 {
  @include font(Karla, 128px, 700, var(--color-2));
  letter-spacing: -2px;
}
h2 {
  @include font(FiraCode, var(--fontSize-6), 400, var(--color-2));
}

.side-right {
  min-height: 480px;
  right: 96px;
  gap: 24px;
  width: 42px;
  .separator {
    height: 186px;
    width: 1px;
    background-color: var(--color-1);
  }
  .email {
    transform: rotate(-90deg);
    width: 332px;
  }
}

.in-icons {
  bottom: 24px;
  .base {
    left: 3px;
    top: 3px;
  }
}

.icon-link-anker {
  left: -14px;
}

.social-icon {
  bottom: 210px;
  height: 76px;
  > img {
    width: 32px;
    height: 32px;
  }
}

.side-left {
  min-height: 312px;
  gap: 24px;
  left: 96px;
  .separator {
    height: 240px;
    width: 1px;
    background-color: var(--color-1);
  }
}

.scroll {
  height: 48px;
  width: 30px;
  border: 1px solid var(--color-1);
  border-radius: 32px;
  a {
    width: 30px;
    height: 48px;
  }
  img {
    animation: scrollBtnAnimation 500ms ease-in 10ms infinite alternate;
  }
}

.marquee-wrapper {
  overflow: hidden;
  min-height: 200px;
}

.marquee {
  position: absolute;
  bottom: 38px;
  left: 0;
  width: 105%;
  height: 62px;
  padding: 12px 32px;
  background-color: #ffffff2c;
  backdrop-filter: blur(5.3px);
  transform: rotate(-3deg) translateX(-2px);
  overflow: hidden;
}

.marquee-content {
  @include font(Karla, var(--fontSize-5), 400, var(--color-1));
  display: inline-flex;
  animation: marquee 10s linear infinite;
  gap: 56px;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 82px;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: var(--fontSize-4);
  }
  h1 {
    font-size: var(--fontSize-7);
  }
  .side-left {
    min-height: 296px;
    left: 48px;
    .separator {
      height: 224px;
    }
  }
  .side-right {
    min-height: 256px;
    right: 48px;
    .separator {
      height: 112px;
    }
    .email {
      transform: unset;
      width: unset;
      left: 8px;
      bottom: 10px;
      position: relative;
    }
  }
  .social-icon {
    height: 76px;
    bottom: 136px;
  }
  .marquee-wrapper {
    min-height: 118px;
  }
}

.mobile-mail-icon {
  // left: 8px;
}

@media (max-height: 700px) {
  .title-box {
    justify-content: flex-start;
    padding-top: 160px;
  }
}

@media (max-height: 750px) and (max-width: 500px) {
  .title-box {
    padding-top: 90px;
  }
}

@media (max-height: 700px) and (max-width: 400px) {
  .title-box {
    padding-top: 130px;
  }
}

@media (max-width: 580px) {
  h1 {
    font-size: var(--fontSize-6);
    text-align: center;
  }
  h2 {
    font-size: var(--fontSize-3);
  }

  .side-left {
    left: 16px;
  }
  .side-right {
    right: 16px;
  }
  .btn-container {
    gap: 8px;
    .btn {
      padding: 0 12px;
    }
  }
}
