@use "./../shared/styles/index" as *;
section {
  @extend .d-flex-align-c;
  background: url(../../assets/imgs/background/Background.png) center center /
    cover no-repeat;
  height: 100vh;
  width: 100%;
  color: var(--color-2);
  position: relative;
  justify-content: center;
  font-family: "Karla";
}

.content-hero {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 100%;
}

.btn-container {
  justify-content: center;
}
.title-box {
  @extend .d-flex-align-c;
  color: #d9d9d9;
  height: 268px;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 12px;
  > div {
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
}
h1 {
  @include font(Karla, 128px, 700, var(--color-2));
  letter-spacing: -2px;
}
h2 {
  @include font(FiraCode, var(--fontSize-6), 400, var(--color-2));
}

.side-right {
  @extend .d-flex-align-c;
  position: absolute;
  min-height: 480px;
  bottom: 0;
  right: 96px;
  gap: 24px;
  flex-direction: column;
  width: 42px;
  .separator {
    position: absolute;
    bottom: 0;
    height: 186px;
    width: 1px;
    background-color: var(--color-1);
  }
  .email {
    transform: rotate(-90deg);
    width: 332px;
  }
}

.hover,
.base {
  position: absolute;
  transition: opacity 0.125s ease-in-out;
}

.in-icons {
  bottom: 24px;
  position: absolute;
  a {
    position: absolute;
    opacity: 1;
    left: -14px;
  }
  .base {
    left: 3px;
    top: 3px;
  }
}
.git-icons {
  a {
    position: absolute;
    opacity: 1;
    left: -14px;
  }
}

.social-icon {
  position: absolute;
  height: 76px;
  bottom: 210px;
  > img {
    width: 32px;
    height: 32px;
  }
}

.git-icons > .hover,
.in-icons > .hover {
  right: -30px;
}
.git-icons > .base {
  right: -15px;
}

.in-icons > .base {
  right: -15px;
  top: 3px;
}

.side-left {
  @extend .d-flex-align-c;
  position: absolute;
  min-height: 312px;
  gap: 24px;
  flex-direction: column;
  height: 0px;
  bottom: 0;
  left: 96px;
  .separator {
    height: 240px;
    width: 1px;
    background-color: var(--color-1);
  }
  .scroll {
    @extend .d-flex-align-c;
    height: 48px;
    width: 30px;
    border: 1px solid var(--color-1);
    border-radius: 32px;
    justify-content: center;
    a {
      width: 30px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      animation: scrollBtnAnimation 500ms ease-in 10ms infinite alternate;
    }
  }
}

.marquee-wrapper {
  position: absolute;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  min-height: 200px;
}

.marquee {
  position: absolute;
  bottom: 38px;
  width: 110%;
  margin-left: -5%;
  height: 62px;
  padding: 12px 32px;
  background-color: #ffffff2c;
  backdrop-filter: blur(5.3px);
  transform: rotate(-3deg);
  gap: 56px;
  white-space: nowrap;
  overflow: hidden;
}

.marquee-content {
  @include font(Karla, var(--fontSize-5), 400, var(--color-1));
  display: inline-flex;
  animation: marquee 10s linear infinite;
  white-space: nowrap;
  gap: 56px;
}

@media (max-width: 1150px) {
  h1 {
    font-size: 82px;
  }
}

@media (max-width: 800px) {
  h2 {
    font-size: var(--fontSize-4);
  }
  h1 {
    font-size: var(--fontSize-7);
  }
  .side-left {
    min-height: 296px;
    left: 48px;
    .separator {
      height: 224px;
    }
  }
  .side-right {
    min-height: 256px;
    right: 48px;
    .separator {
      height: 112px;
    }
    .email {
      transform: unset;
      width: unset;
      left: 2px;
      bottom: 10px;
      position: relative;
    }
  }
  .social-icon {
    height: 76px;
    bottom: 136px;
  }
  .marquee-wrapper {
    min-height: 118px;
  }
}
@media (max-width: 450px) {
  h1 {
    font-size: var(--fontSize-6);
    text-align: center;
  }
  h2 {
    font-size: var(--fontSize-3);
  }

  .side-left {
    left: 16px;
  }
  .side-right {
    right: 16px;
  }
  .btn-container {
    gap: 8px;
    .btn {
      padding: 0 12px;
    }
  }
}
