@use "../../shared/styles/index" as *;
.project-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  line-height: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.137);
  display: flex;
  align-items: center;
  justify-content: center;
  .content {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    border: 1px solid var(--color-1);
    padding: 80px;
    width: 100%;
    max-width: 1248px;
    max-height: 656px;
    background-image: linear-gradient(
      45deg,
      var(--color-3) 0%,
      var(--color-3) 40%,
      var(--color-5) 90%,
      var(--color-5) 100%
    );
    .left-overlay {
      width: 480px;
      @extend .d-flex-dirc-c;
      gap: 40px;
      .project-header {
        @extend .d-flex-dirc-c;
        gap: 24px;
        > h1 {
          @include font(Karla, var(--fontSize-8), 700, var(--color-1));
          height: 100px;
          width: 156px;
          line-height: 100px;
        }
        > h2 {
          @include font(FiraCode, var(--fontSize-7), 700, var(--color-2));
          height: 51px;
          line-height: 80%;
          letter-spacing: -3px;
        }
      }
      .project-information {
        @extend .d-flex-dirc-c;
        gap: 32px;
        .project-info-text {
          @extend .d-flex-dirc-c;
          gap: 20px;
          @include font(Karla, var(--fontSize-2), 100, var(--color-2));
          > h3 {
            @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
          }
        }
      }
      .all-techs {
        display: flex;
        @include font(Karla, var(--fontSize-1), 100, var(--color-2));
        gap: 16px;
        .tech {
          display: flex;
          gap: 4px;
        }
      }
      .btn {
        gap: 8px;
        img {
          transform: translate(0%, 0%);
          transition: all 100ms ease-in;
        }
        &:hover img {
          transform: translate(30%, -30%);
        }
      }
    }
    .right-overlay {
      width: 540px;
      display: flex;
      flex-direction: column;
      align-items: end;
      justify-content: space-between;
      .project-img-wrapper {
        width: 520px;
        border-radius: 30px;
        height: 370px;
        img {
          width: 520px;
          border-radius: 30px;
          height: 370px;
        }
      }
      .close {
        cursor: pointer;
        height: 48px;
        width: 48px;
        background: url(/assets/imgs/icon-interactiv/close_small.svg) center
          no-repeat;
        transition: all 200ms ease-in;
        transform: translateY(-100%);
        &:hover {
          background: url(/assets/imgs/icon-interactiv/close.svg) center
            no-repeat;
        }
      }
      .next-project {
        @include font(Karla, var(--fontSize-2), 400, var(--color-1));
        @extend .d-flex-align-c;
        width: 151px;
        height: 22px;
        gap: 8px;
        transform: translateY(150%);
        justify-content: center;
        transition: all 100ms ease-in;
        cursor: pointer;
        img {
          height: 32px;
          transform: translateY(0);
          transition: all 100ms ease-in;
        }
        &:hover {
          color: var(--color-2);
          img {
            scale: 1.2;
            transform: translateX(10%);
          }
        }
      }
    }
  }
}
