@use "../../shared/styles/index" as *;
.project-overlay {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.137);
  .content {
    border: 1px solid var(--color-1);
    padding: 80px;
    width: 90vw;
    background-image: linear-gradient(
      45deg,
      var(--color-3) 0%,
      var(--color-3) 40%,
      var(--color-5) 90%,
      var(--color-5) 100%
    );
    .wrapper-both-sids {
      display: flex;
      gap: 88px;
    }
    .left-overlay {
      width: 50%;
      gap: 40px;
      .project-header {
        gap: 24px;
        > h1 {
          @include font(Karla, var(--fontSize-8), 700, var(--color-1));
          max-width: 156px;
          line-height: 100px;
        }
        > h2 {
          @include font(Karla, var(--fontSize-7), 700, var(--color-2));
          height: 51px;
          line-height: 80%;
          letter-spacing: -3px;
        }
      }
      .project-information {
        gap: 32px;
        .project-info-text {
          gap: 20px;
          @include font(Karla, var(--fontSize-2), 100, var(--color-2));
          > h3 {
            @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
          }
        }
      }
      .all-techs {
        display: flex;
        @include font(Karla, var(--fontSize-1), 100, var(--color-2));
        gap: 12px;
        flex-wrap: wrap;
        .tech {
          display: flex;
          gap: 4px;
        }
      }
      .btn {
        gap: 8px;
        img {
          transform: translate(0%, 0%);
        }
        &:hover img {
          transform: translate(30%, -30%);
        }
      }
    }
    .right-overlay {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: end;
      .project-img-wrapper {
        min-height: 370px;
        img {
          min-height: 370px;
        }
      }
      .close {
        cursor: pointer;
        height: 48px;
        width: 48px;
        background: url(/assets/imgs/icon-interactiv/close_small.svg) center
          no-repeat;
        transform: translateY(-100%);
        &:hover {
          background: url(/assets/imgs/icon-interactiv/close.svg) center
            no-repeat;
        }
      }
    }
  }
}

.wrapper-next {
  display: flex;
  justify-content: end;
  .next-project {
    @include font(Karla, var(--fontSize-2), 400, var(--color-1));
    @extend .d-flex-align-c;
    height: 22px;
    gap: 8px;
    transform: translateY(150%);
    cursor: pointer;
    img {
      height: 32px;
      transform: translateY(0);
    }
    &:hover {
      color: var(--color-2);
      img {
        scale: 1.2;
        transform: translateX(10%);
      }
    }
  }
}

@media (max-width: 1000px) {
  .project-overlay {
    .content {
      padding: 20px 38px;
      .right-overlay {
        .close {
          transform: translateY(0);
        }
      }
      .wrapper-next {
        height: 100%;
        align-items: center;
        .next-project {
          transform: translateY(0);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .project-overlay {
    .content {
      max-height: 98vh;
      gap: 12px;
      padding: 12px 8px;
      .wrapper-both-sids {
        flex-direction: column-reverse;
        gap: 6px;
        justify-content: space-between;
        height: 100%;
      }
      .left-overlay {
        width: 100%;
        gap: 12px;
        .project-header {
          gap: 6px;
          flex-direction: row;
          > h1 {
            font-size: var(--fontSize-6);
            line-height: 1.2;
            max-width: 100%;
          }
          > h2 {
            font-size: var(--fontSize-5);
            height: 32px;
            line-height: 1.7;
          }
        }
        .project-information {
          gap: 12px;
        }
      }
      .right-overlay {
        width: 100%;
        .project-img-wrapper {
          display: flex;
          min-height: 200px;
          justify-content: center;
          img {
            position: relative;
            align-self: center;
            min-height: 200px;
            max-height: 250px;
            max-width: 60vw;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .project-overlay {
    .content {
      // min-height: calc(100% - 16px);
      min-width: calc(100% - 16px);
      .wrapper-both-sids {
        .left-overlay {
          .project-information {
            .project-info-text {
              font-size: 16px;
            }
          }
        }
        .right-overlay {
          // height: 220px;
          .project-img-wrapper {
            img {
              position: relative;
              align-self: center;
              min-height: 160px;
              max-height: 250px;
              aspect-ratio: 16/9;
            }
          }
        }
      }
    }
  }
}
