@use "./../../shared/styles/index" as *;

.referenc {
  @extend .d-flex-dirc-c;
  justify-content: space-between;
  background-color: #3dcfb725;
  border: 1px solid var(--color-1);
  height: 274px;
  border-radius: 30px;
  padding: 48px 40px;
  gap: 44px;
  width: 632px;
  transition: transform 0.5s ease;
  > div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .line {
      @extend .d-flex-align-c;
      flex: 1;
      height: 1px;
      background-color: var(--color-2);
    }
    > p {
      white-space: nowrap;
      padding: 0 8px;
    }
  }
}

.referenc.active {
  transform: scale(1.1);
}
