@use "./../../shared/styles/index" as *;
header {
  margin: 0 auto;
}
.wrapper-header {
  z-index: 1;
  top: 0;
  justify-content: space-between;
  padding: 0 96px;
  height: 98px;
}

app-nav-mobile {
  display: none;
}

@media (max-width: 900px) {
  .wrapper-header {
    flex-direction: row-reverse;
    padding: 0 48px;
    app-nav-mobile {
      display: flex;
      cursor: pointer;
    }
    app-navbar {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .wrapper-header {
    padding: 0 18px;
  }
}
