<header>
  <div class="header-left">
    <div class="language-switch">
      <input type="radio" name="language" id="eng-radio" />
      <label for="eng-radio">EN</label>
      <input type="radio" checked name="language" id="deu-radio" />
      <label for="deu-radio">DE</label>
    </div>
    <div class="header-links">
      <a>About me</a>
      <a>Skills</a>
      <a>Projects</a>
    </div>
  </div>
  <div class="header-right">
    <div class="initial">
      <div class="rotate-letter">K</div>
      <div class="no-rotate-letter">N</div>
    </div>
    <div class="header-name">
      Kyrylo <br />
      Novikov
    </div>
  </div>
</header>
