@use "./../../shared/styles/index" as *;
header {
  @extend .d-flex-align-c;
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  justify-content: space-between;
  padding: 0 96px;
  height: 98px;
}

app-nav-mobile {
  display: none;
}

@media (max-width: 900px) {
  header {
    flex-direction: row-reverse;
    padding: 0 48px;
    app-nav-mobile {
      display: flex;
    }
    app-navbar {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  header {
    flex-direction: row-reverse;
    padding: 0 18px;
  }
}
