<header>
  <div class="header-left">
    <app-navbar
      [activeSection]="activeSection"
      [currentLang]="currentLang"
      (langChange)="changeLanguage($event)"
      (sectionChange)="setActive($event)"
    ></app-navbar>
    <app-nav-mobile
      [activeSection]="activeSection"
      [currentLang]="currentLang"
      (langChange)="changeLanguage($event)"
      (sectionChange)="setActive($event)"
    ></app-nav-mobile>
  </div>
  <div class="header-right">
    <app-letter-name [hideNameOnMobile]="true"></app-letter-name>
  </div>
</header>
