<section class="portfolio">
  <div class="portfolio-header">
    <h2>Portfolio</h2>
    <h1>Featured Projects</h1>
  </div>
  <div class="project-instruct">
    <p>
      Explore a selection of my work here - Interact with projects to see my
      skills in action.
    </p>
  </div>
  <!-- platzhalter Projekte -->
  <div class="projects">
    <div class="project">
      <h2 class="project-name">Join</h2>
      <div class="tech-for-project">html css javaScript</div>
    </div>
    <div class="project">
      <h2 class="project-name">El Pollo Loco</h2>
      <div class="tech-for-project">html css javaScript</div>
    </div>
    <div class="project">
      <h2 class="project-name">Pokemon</h2>
      <div class="tech-for-project">html css javaScript</div>
    </div>
  </div>
</section>
