<section id="portfolio-section" class="portfolio d-flex-c-c">
  <div class="max-width-1920 width-100 wrapper-projects">
    <div
      class="content-portfolio d-flex-dirc-c"
      data-aos="fade-left"
      data-aos-offset="200"
      data-aos-duration="125"
      data-aos-delay="350"
    >
      <div class="portfolio-header d-flex-dirc-c width-100">
        <h2>Portfolio</h2>
        <h1 class="green-headline-700">{{ "PROJECTS.TITEL" | translate }}</h1>
      </div>
      <div class="project-instruct">
        <p>{{ "PROJECTS.TEXT" | translate }}</p>
      </div>

      @for (project of projectsArray; track project.name; let i = $index) {
        <div class="projects">
          <div class="pos-rel">
            <div
              (click)="open(project)"
              class="project d-flex-align-c transition-125ms"
              (mouseover)="hoverdIndex = i"
              (mouseleave)="hoverdIndex = null"
              [style.background-color]="
                hoverdIndex === i ? '#3DCFB64D' : 'transparent'
              "
            >
              <div class="project-title d-flex-align-c">
                <h2 class="project-name">{{ project.name }}</h2>
                <img
                  class="transition-125ms"
                  src="/assets/imgs/icon-interactiv/arrow_outward.svg"
                  alt=""
                  [style.opacity]="hoverdIndex === i ? 1 : 0"
                />
              </div>
              <div class="tech-for-project">
                @for (tech of project.usedTechs; track tech; let last = $last) {
                  {{ tech }}
                  @if (!last) {
                    <span>|</span>
                  }
                }
              </div>
            </div>
          </div>
          <div>
            <div
              class="project-img-wrapper pos-abs transition-125ms"
              [style.opacity]="hoverdIndex === i ? 1 : 0"
            >
              <img
                alt="{{ project.name }} screenshot"
                loading="lazy"
                class="project-img pos-abs"
                src="{{ project.imgPath }}"
              />
            </div>
          </div>
        </div>
      }
    </div>
  </div>
  <app-project-overlay></app-project-overlay>
</section>
