@use "./../shared/styles/index" as *;

section {
  background-color: var(--color-3);
  padding: 128px 0;
  .content-portfolio {
    padding: 0 98px;
    width: var(--project-size-1);
    @include font(Karla, var(--fontSize-4), 400, var(--color-2));
    padding-bottom: 8vh;
    gap: 41px;
    .portfolio-header {
      gap: 20px;
      h2 {
        @include font($color: var(--color-1));
      }
    }
    .project-instruct {
      p {
        @include font($size: var(--fontSize-2));
      }
    }
    .projects {
      max-width: 1724px;
      z-index: 5;
      > div {
        display: flex;
        .project-img-wrapper {
          width: 26vw;
          aspect-ratio: 26/19;
          max-width: 600px;
          max-height: 400px;
          &::after {
            z-index: 1;
            transition: all 0.125s ease;
            position: absolute;
            content: "";
            top: -240px;
            left: 860px;
            width: 100%;
            height: 100%;
            background: repeating-linear-gradient(
              -45deg,
              transparent,
              transparent 9px,
              var(--color-1) 9px,
              var(--color-1) 10px
            );
            transform: translate(24px, 24px);
            border-radius: 16px;
          }
        }
      }
      .project-img {
        max-width: 600px;
        max-height: 400px;
        width: 26vw;
        aspect-ratio: 26/19;
        border-radius: 16px;
        object-fit: cover;
        left: 860px;
        top: -240px;
        z-index: 10;
      }
    }

    .project {
      @include font($size: var(--fontSize-2), $weight: 400);
      width: var(--project-size-1);
      justify-content: space-between;
      padding: 0px 32px;
      border-width: 1px 0px 1px 0px;
      border-style: solid;
      border-color: #3dcfb6;
      height: 109px;
      cursor: pointer;
      .project-title {
        gap: 4px;
        img {
          width: 23px;
          height: 23px;
          object-fit: none;
        }
      }
      .tech-for-project > span {
        color: var(--color-1);
      }
      .project-name {
        @include font(FiraCode, var(--fontSize-4), 700);
      }
    }
  }
}

app-project-overlay {
  z-index: 999;
}

@media (max-width: 1400px) {
  section {
    .content-portfolio {
      width: var(--project-size-2);
      .projects {
        width: var(--project-size-2);
        > div > .project-img-wrapper::after {
          left: calc(var(--project-size-2) + 40px);
        }
        .project-img {
          left: calc(var(--project-size-2) + 40px);
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  section {
    padding: 80px 0;
    .content-portfolio {
      width: var(--project-size-3);
      padding: 0 0 0 64px;
      .project {
        flex-direction: column;
        padding: 32px 0;
        height: 125px;
        align-items: baseline;
      }
      .projects {
        width: var(--project-size-3);
        > div > .project-img-wrapper::after {
          left: calc(var(--project-size-3) + 20px);
        }
        .project-img {
          left: calc(var(--project-size-3) + 20px);
        }
      }
    }
  }
}

@media (max-width: 800px) {
  section {
    padding: 60px 0;
    .content-portfolio {
      width: 72vw;
      padding: 0 0 0 32px;
      .projects {
        width: 72vw;
        .project-img-wrapper {
          display: none;
        }
      }
    }
  }
  .green-headline-700 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 40px 0;
    .content-portfolio {
      width: 90vw;
      padding: 0 0 0 18px;
      .projects {
        width: 90vw;
      }
    }
  }
}

@media (max-width: 500px) {
  .green-headline-700 {
    font-size: var(--fontSize-5);
  }
  section {
    .content-portfolio {
      width: 100vw;
      padding: 0;
      .portfolio-header,
      .project-instruct {
        padding: 0 8px;
      }
      .projects {
        width: 100vw;
      }
      .project {
        padding: 16px 8px;
        height: 80px;
        .project-name {
          font-size: var(--fontSize-3);
        }
        .tech-for-project {
          font-size: var(--fontSize-0);
        }
      }
    }
  }
}
@media (max-width: 400px) {
  .green-headline-700 {
    font-size: var(--fontSize-4);
  }
}
