<section id="contact-section">
  <div class="contact-wrapper">
    <div class="call-to-action-wrapper">
      <div class="headline-wrapper">
        <h2>Contact me</h2>
        <h1>Let's work together</h1>
      </div>
      <div class="call-to-action">
        <h2>Got a problem to solve ?</h2>
        <p>
          Encourage people to contact you and describe what role you are
          interested in. Show that you will add value to their projects through
          your work.
        </p>
        <p>Need a Frontend developer?<span> Let’s talk!</span></p>
      </div>
    </div>
    <app-form></app-form>
  </div>
</section>
