<section id="contact-section">
  <div class="contact-wrapper">
    <div class="call-to-action-wrapper">
      <div class="headline-wrapper">
        <h2>{{ "CONTACT.HEADER" | translate }}</h2>
        <h1 class="green-headline-700">{{ "CONTACT.TITLE" | translate }}</h1>
      </div>
      <div class="call-to-action">
        <h2>{{ "CONTACT.QUESTION_PROBLEM" | translate }}</h2>
        <p>{{ "CONTACT.TEXT" | translate }}</p>
        <p>
          {{ "CONTACT.QUESTION_NEED" | translate
          }}<span>{{ "CONTACT.CALL_TO_ACTION" | translate }}</span>
        </p>
      </div>
    </div>
    <app-form></app-form>
  </div>
</section>
