@use "./../shared/styles/index" as *;
section {
  color: var(--color-2);
  background-color: var(--color-3);
  .green-headline-700 {
    white-space: normal;
    overflow-wrap: break-word;
  }

  .contact-wrapper {
    display: flex;
    gap: 64px;
    justify-content: space-between;
    padding: 20px 96px 260px;
  }
  .call-to-action-wrapper {
    gap: 40px;
    width: 47%;
    .headline-wrapper h2 {
      @include font(Karla, var(--fontSize-4), 500, var(--color-1));
    }
    .call-to-action {
      gap: 16px;
      h2 {
        @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
      }
      p {
        @include font(Karla, var(--fontSize-1), 400, var(--color-2));
        span {
          font-weight: 700;
          color: var(--color-1);
        }
      }
    }
  }
}

app-form {
  width: 47%;
}

@media (max-width: 800px) {
  section {
    padding: 20px 56px 220px;
    .contact-wrapper {
      flex-direction: column;
      .call-to-action-wrapper {
        width: 100%;
        .call-to-action {
          h2 {
            font-size: var(--fontSize-3);
          }
        }
      }
      app-form {
        width: 100%;
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    padding: 20px 0px 200px;
    align-items: center;
    .contact-wrapper {
      width: 90vw;
    }
  }
}
