<section id="contact-section" class="d-flex-dirc-c d-flex-align-c">
  <div
    class="contact-wrapper max-width-1920 width-100"
    data-aos="fade-up"
    data-aos-offset="500"
    data-aos-duration="125"
    data-aos-delay="250"
  >
    <div class="call-to-action-wrapper d-flex-dirc-c">
      <div class="headline-wrapper d-flex-dirc-c">
        <h2>{{ "CONTACT.HEADER" | translate }}</h2>
        <h1 class="green-headline-700">{{ "CONTACT.TITLE" | translate }}</h1>
      </div>
      <div class="call-to-action d-flex-dirc-c">
        <h2>{{ "CONTACT.QUESTION_PROBLEM" | translate }}</h2>
        <p>{{ "CONTACT.TEXT" | translate }}</p>
        <p>
          {{ "CONTACT.QUESTION_NEED" | translate
          }}<span>{{ "CONTACT.CALL_TO_ACTION" | translate }}</span>
        </p>
      </div>
    </div>
    <app-form></app-form>
  </div>
</section>
