<nav>
  <div class="language-switch">
    <input
      type="radio"
      name="language-desktop"
      [checked]="isActive('en')"
      id="eng-radio"
    />
    <label for="eng-radio" (click)="langChange.emit('en')">EN</label>
    <input
      type="radio"
      name="language-desktop"
      id="deu-radio"
      [checked]="isActive('de')"
    />
    <label for="deu-radio" (click)="langChange.emit('de')">DE</label>
  </div>
  <div class="header-links">
    <a
      [routerLink]="['/']"
      [fragment]="'about-me-section'"
      [class.aktiv]="aktivSection === 'about-me'"
      (click)="setAktiv('about-me')"
      >{{ "NAV.ABOUT_ME" | translate }}</a
    >
    <a
      [routerLink]="['/']"
      [class.aktiv]="aktivSection === 'skills'"
      (click)="setAktiv('skills')"
      [fragment]="'skill-section'"
      >{{ "NAV.SKILLS" | translate }}</a
    >
    <a
      [routerLink]="['/']"
      [class.aktiv]="aktivSection === 'projects'"
      (click)="setAktiv('projects')"
      [fragment]="'portfolio-section'"
      >{{ "NAV.PROJECTS" | translate }}</a
    >
  </div>
</nav>
