<nav class="d-flex-align-c">
  <div class="language-switch d-flex-align-c transition-125ms">
    <input
      type="radio"
      name="language-desktop"
      [checked]="currentLang() === 'en'"
      id="eng-radio"
    />
    <label class="d-flex-c-c" for="eng-radio" (click)="langChange.emit('en')"
      >EN</label
    >
    <input
      type="radio"
      name="language-desktop"
      id="deu-radio"
      [checked]="currentLang() === 'de'"
    />
    <label class="d-flex-c-c" for="deu-radio" (click)="langChange.emit('de')"
      >DE</label
    >
  </div>
  <div class="header-links white-s-no">
    <a
      class="pos-rel"
      [routerLink]="['/']"
      [fragment]="'about-me-section'"
      [class.aktiv]="activeSection === 'about-me'"
      (click)="sectionChange.emit('about-me')"
      >{{ "NAV.ABOUT_ME" | translate }}</a
    >
    <a
      class="pos-rel"
      [routerLink]="['/']"
      [class.aktiv]="activeSection === 'skills'"
      (click)="sectionChange.emit('skills')"
      [fragment]="'skill-section'"
      >{{ "NAV.SKILLS" | translate }}</a
    >
    <a
      class="pos-rel"
      [routerLink]="['/']"
      [class.aktiv]="activeSection === 'projects'"
      (click)="sectionChange.emit('projects')"
      [fragment]="'portfolio-section'"
      >{{ "NAV.PROJECTS" | translate }}</a
    >
  </div>
</nav>
