.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  background-color: rgba(61, 207, 182, 0.5);
  filter: blur(60px);
  z-index: 9999;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
