@use "../../shared/styles/mixins" as *;

.d-flex-align-c {
  display: flex;
  align-items: center;
}

.d-flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-dirc-c {
  display: flex;
  flex-direction: column;
}

.pos-abs {
  position: absolute;
}

.pos-rel {
  position: relative;
}

.max-width-1920 {
  max-width: 1920px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.bottom-0 {
  bottom: 0px;
}

.transition-125ms {
  transition: all 0.125s ease-in-out;
}

.opacity {
  opacity: 1;
}

.white-s-no {
  white-space: nowrap;
}

.border-rad-30 {
  border-radius: 30px;
}

.green-headline-700 {
  @include green-headline();
}

.btn-container {
  @extend .d-flex-align-c;
  background-color: #ffffff00;
  line-height: 120%;
  gap: 48px;
  font-size: var(--fontSize-2);
  height: 48px;
}

.btn {
  background-color: transparent;
  color: var(--color-2);
  text-decoration: none;
  @extend .d-flex-align-c;
  border: 1px solid var(--color-2);
  border-radius: 100px;
  height: 48px;
  padding: 0 24px;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.125s ease-in;
  white-space: nowrap;
  &:hover {
    border: 1px solid var(--color-1);
    color: var(--color-1);
    span {
      animation: btnAnimation 1800ms linear infinite;
    }
  }
}

.name-hov-prep {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 0.125s ease;
}

.highlight-legal-words {
  color: var(--color-2);
}

@media (max-width: 1100px) {
  .green-headline-700 {
    font-size: 48px;
    line-height: 80%;
  }
}

@media (max-width: 500px) {
  .green-headline-700 {
    font-size: 36px;
  }
  .btn-container {
    gap: 16px;
  }
}
