@use "../../shared/styles/mixins" as *;

.d-flex-align-c {
  display: flex;
  align-items: center;
}

.d-flex-dirc-c {
  display: flex;
  flex-direction: column;
}

.green-headline-700 {
  @include green-headline();
}

.btn-container {
  @extend .d-flex-align-c;
  background-color: #ffffff00;
  line-height: 120%;
  gap: 48px;
  font-size: var(--fontSize-2);
  height: 48px;
}

.btn {
  background-color: transparent;
  color: var(--color-2);
  text-decoration: none;
  @extend .d-flex-align-c;
  border: 1px solid var(--color-2);
  border-radius: 100px;
  height: 48px;
  padding: 0 24px;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms ease-in;
  white-space: nowrap;
  &:hover {
    border: 1px solid var(--color-1);
    color: var(--color-1);
    span {
      animation: btnAnimation 1800ms linear infinite;
    }
  }
}

.name-hov-prep {
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-color 300ms ease;
}

.highlight-legal-words {
  color: var(--color-2);
}

@media (max-width: 1100px) {
  .green-headline-700 {
    font-size: 56px;
    line-height: 80%;
  }
}

@media (max-width: 500px) {
  .green-headline-700 {
    font-size: 40px;
  }
}
