@mixin font(
  $family: inherit,
  $size: inherit,
  $weight: inherit,
  $color: inherit
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin green-headline {
  @include font(FiraCode, var(--fontSize-7), 700, var(--color-1));
}
