:root {
  --fontSize-0: 15px;
  --fontSize-1: 16px;
  --fontSize-2: 18px;
  --fontSize-3: 20px;
  --fontSize-4: 24px;
  --fontSize-5: 32px;
  --fontSize-6: 40px;
  --fontSize-7: 64px;
  --color-1: #3dcfb6;
  --color-2: #ffffff;
  --color-3: #1c1c1c;
  --color-4: rgba(236, 123, 123, 0.8);
  --color-5: #08463b;
}
