@use "./../shared/styles/index" as *;
section {
  background-image: linear-gradient(
    45deg,
    var(--color-3) 0%,
    var(--color-3) 40%,
    var(--color-5) 90%,
    var(--color-5) 100%
  );
  line-height: 120%;
  @include font(Karla, 16px, 400, var(--color-1));
  height: 100vh;
}

.content {
  height: 84vh;
  padding: 88px 96px 120px;
  gap: 24px;
  .text-content {
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 24px;
    padding-bottom: 20px;
  }
  .notice-headline {
    height: 142px;
  }
}

.indemnity-text-container {
  gap: 12px;
}

.sub-headline {
  @include font(Karla, 19px, 900, var(--color-2));
}

li {
  padding-left: 8px;
}

@media (max-width: 800px) {
  .content {
    padding: 88px 48px 120px;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 88px 18px 120px;
  }
}
