@use "./../shared/styles/index" as *;

section {
  position: relative;
  overflow-x: hidden;
  color: var(--color-2);
  display: flex;
  justify-content: center;
  align-items: self-start;
  font-family: "Karla";
  padding: 24px 96px 98px;
  background: radial-gradient(
    circle 320px at center left,
    var(--color-5),
    var(--color-3)
  );
  > div {
    display: flex;
    max-width: 1720px;
    width: 100%;
  }
  .tech-info-head {
    @extend .d-flex-dirc-c;
    max-width: 50%;
    gap: 20px;
    align-items: flex-end;
    padding-right: 112px;
    .tech-info {
      @extend .d-flex-dirc-c;
      background-color: #3dcfb61a;
      border-radius: 30px;
      border: 1px solid var(--color-1);
      padding: 32px;
      gap: 40px;
      .tech-text {
        @extend .d-flex-dirc-c;
        gap: 32px;
        .call-to-contact {
          @extend .d-flex-dirc-c;
          gap: 20px;
        }
      }
    }
  }

  h2,
  h3 {
    align-self: baseline;
    @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
  }
  h3 {
    width: 520px;
  }
  .all-techs {
    // width: 50%;
    display: flex;
    flex-wrap: wrap;
    // max-width: 832px;
    gap: 44px;
    padding: 52px 20px;
    .tech {
      position: relative;
      @include font(FiraCode, var(--fontSize-2), 400, var(--color-2));
      @extend .d-flex-dirc-c;
      align-items: center;
      width: 104px;
      gap: 8px;
      letter-spacing: -3%;
      p {
        text-align: center;
      }
      > img {
        height: 60px;
        width: 60px;
        transition: all 0.125s ease-in;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .btn {
    white-space: nowrap;
  }
}
span {
  color: var(--color-2);
}
.future-tech {
  opacity: 1;
}

.speech-bubble {
  position: absolute;
  height: 129px;
  width: 188px;
  opacity: 0;
  background-image: url(/assets/imgs/icon-interactiv/speech_bubble.png);
  top: -100%;
  left: 0%;
  // left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transform: translateX(-2%);
  @extend .d-flex-dirc-c;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transition: all 125ms ease-in;
  p {
    @include font(Karla, var(--fontSize-1), 400, var(--color-1));
  }
  > div {
    height: 50px;
    width: 84px;
    @extend .d-flex-align-c;
    justify-content: center;
    gap: 16px;
    > div {
      @extend .d-flex-dirc-c;
      gap: 5px;
      width: 33px;
      > img {
        width: 32px;
        height: 32px;
      }
      > p {
        @include font(Karla, 12px, bold, var(--color-1));
      }
    }
  }
}

p {
  transition: all 125ms ease-in;
}

.speech-bubble {
  pointer-events: none;
}

.future-tech:hover {
  p {
    color: var(--color-1);
  }
  .speech-bubble {
    opacity: 1;
  }
}

@media (max-width: 1190px) {
  section {
    padding: 0 28px;
    .tech-info-head {
      padding-right: 42px;
    }
    .all-techs {
      gap: 52px;
    }
  }
}

@media (max-width: 900px) {
  section {
    flex-direction: column;
    padding: 28px;
    .wrapper-skills {
      flex-direction: column;
    }
    .tech-info {
      padding: 32px 24px;
      gap: 32px;
    }
    .tech-info-head {
      padding-right: 0px;
      max-width: 100%;
      h3 {
        font-size: var(--fontSize-2);
        font-weight: 400;
      }
    }
    .all-techs {
      gap: 24px;
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  section {
    .speech-bubble {
      transform: translateX(-9%);
    }
    h2 {
      font-size: 20px;
    }
    padding: 48px 16px;
    flex-direction: column;
    .all-techs {
      .tech {
        width: 80px;
        gap: 8px;
        > img {
          width: 56px;
          height: 56px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    padding: 48px 10px;
    flex-direction: column;
    .tech-info-head {
      .tech-info {
        gap: 32px;
      }
    }
    .all-techs {
      padding: 32px 10px;
      gap: 16px;
      .tech {
        gap: 8px;
        margin: 0 auto;
        > p {
          font-size: var(--fontSize-1);
        }
        > img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
