@use "./../shared/styles/index" as *;

section {
  color: var(--color-2);
  display: flex;
  align-items: self-start;
  font-family: "Karla";
  width: 100%;
  height: 695px;
  background: radial-gradient(
    circle 320px at center left,
    var(--color-5),
    var(--color-3)
  );
  padding: 0 96px;
  .tech-info-head {
    @extend .d-flex-dirc-c;
    width: 50%;
    gap: 20px;
    align-items: flex-end;
    padding-right: 192px;
    .tech-info {
      @extend .d-flex-dirc-c;
      background-color: #3dcfb61a;
      border-radius: 30px;
      border: 1px solid var(--color-1);
      padding: 32px;
      width: 520px;
      gap: 40px;
    }
  }
  h1,
  h2,
  h3 {
    @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
    span {
      color: var(--color-2);
    }
  }
  h3 {
    width: 520px;
  }
  h1 {
    font-size: 64px;
  }
  .all-techs {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    max-width: 832px;
    gap: 72px;
    padding-top: 52px;
    .tech {
      position: relative;
      @include font(FiraCode, var(--fontSize-2), 400, var(--color-2));
      @extend .d-flex-dirc-c;
      align-items: center;
      width: 104px;
      height: 116px;
      gap: 8px;
      letter-spacing: -3%;
      p {
        text-align: center;
      }
      > img {
        height: 60px;
        width: 60px;
        transition: all 0.2s ease-in;
        &:hover {
          height: 64px;
          width: 64px;
        }
      }
    }
  }
  .btn {
    width: 122px;
    white-space: nowrap;
  }
}

.future-tech {
  opacity: 1;
}

.speech-bubble {
  position: absolute;
  height: 129px;
  width: 188px;
  opacity: 0;
  background-image: url(/assets/imgs/icon-interactiv/speech_bubble.png);
  top: -100%;
  left: 0%;
  z-index: 1;
  transform: translateX(-2%);
  @extend .d-flex-dirc-c;
  align-items: center;
  gap: 8px;
  padding: 8px;
  transition: all 200ms ease-in;
  p {
    @include font(Karla, var(--fontSize-1), 400, var(--color-1));
  }
  > div {
    height: 50px;
    width: 84px;
    @extend .d-flex-align-c;
    justify-content: center;
    gap: 16px;
    > div {
      @extend .d-flex-dirc-c;
      gap: 5px;
      width: 33px;
      > img {
        width: 32px;
        height: 32px;
      }
      > p {
        @include font(Karla, 12px, bold, var(--color-1));
      }
    }
  }
}

p {
  transition: all 200ms ease-in;
}

.speech-bubble {
  pointer-events: none;
}

.future-tech:hover {
  p {
    color: var(--color-1);
  }
  .speech-bubble {
    opacity: 1;
  }
}
