<section id="skill-section">
  <div class="wrapper-skills">
    <div class="tech-info-head">
      <h3>Technologies</h3>
      <div class="tech-info">
        <h1 class="green-headline-700">Skill Set</h1>
        <div class="tech-text">
          <div>
            {{ "MY_SKILLS.INTRODUCTION" | translate }}
          </div>
          <div class="call-to-contact">
            <h2>
              <span>{{ "MY_SKILLS.QUESTION_Y" | translate }}</span
              >{{ "MY_SKILLS.QUESTION_A" | translate }}
            </h2>
            <div>
              {{ "MY_SKILLS.CALL_TO_ACTION" | translate }}
            </div>
          </div>
        </div>
        <div class="btn-container">
          <a class="btn" href="#contact-section"
            ><span>{{ "MY_SKILLS.BTN" | translate }}</span></a
          >
        </div>
      </div>
    </div>

    <div class="all-techs">
      @for (tech of techsArr; track $index) {
      <div class="tech" [class.future-tech]="tech.name === 'Growth Mindset'">
        <div class="speech-bubble">
          <p>{{ "MY_SKILLS.BUBBLE" | translate }}</p>
          <div>
            <div>
              <img src="/assets/imgs/tech-icon/futur/react.svg" alt="" />
              <p>React</p>
            </div>
            <div>
              <img src="/assets/imgs/tech-icon/futur/Vue Js.svg" alt="" />
              <p>Vue</p>
            </div>
          </div>
        </div>
        <img [src]="tech.path" alt="{{ tech.name }}" />
        <p>{{ tech.name }}</p>
      </div>
      }
    </div>
  </div>
</section>
