@use "./../shared/styles/index" as *;

section {
  display: flex;
  justify-content: center;
  color: var(--color-2);
  align-items: self-start;
  font-family: "Karla";

  background: radial-gradient(
    circle 320px at center left,
    var(--color-5),
    var(--color-3)
  );
  .wrapper-skills {
    display: flex;
    padding: 80px var(--pad-wide) 98px;
  }
  .tech-info-head {
    max-width: 50%;
    gap: 20px;
    align-items: flex-end;
    padding-right: 112px;
    .tech-info {
      background-color: #3dcfb61a;
      border: 1px solid var(--color-1);
      padding: var(--pad-container-wide);
      gap: 40px;
      .tech-text {
        gap: 32px;
        .call-to-contact {
          gap: 20px;
        }
      }
    }
  }

  h2,
  h3 {
    align-self: baseline;
    @include font(FiraCode, var(--fontSize-4), 700, var(--color-1));
  }
  .all-techs {
    flex-wrap: wrap;
    gap: 44px;
    padding: 52px 20px;
    .tech {
      @include font(FiraCode, var(--fontSize-2), 400, var(--color-2));
      align-items: center;
      width: 104px;
      gap: 8px;
      letter-spacing: -3%;
      margin: 0 auto;
      p {
        text-align: center;
      }
      > img {
        height: 60px;
        width: 60px;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.speech-bubble {
  position: absolute;
  height: 132px;
  aspect-ratio: 3/2;
  opacity: 0;
  background-image: url(/assets/imgs/icon-interactiv/speech_bubble.png);
  top: -100%;
  z-index: 1;
  transform: translateX(22%);
  align-items: center;
  gap: 8px;
  padding: 8px;

  .bubble-content {
    align-items: center;
    p {
      @include font(Karla, var(--fontSize-1), 400, var(--color-1));
    }
    > div {
      height: 50px;
      width: 84px;
      justify-content: center;
      gap: 16px;
      > div {
        gap: 5px;
        width: 33px;
        > img {
          width: 32px;
          height: 32px;
        }
        > p {
          @include font(Karla, 12px, bold, var(--color-1));
        }
      }
    }
  }
}

p {
  transition: all 125ms ease-in;
}

.speech-bubble {
  pointer-events: none;
}

.future-tech:hover {
  p {
    color: var(--color-1);
  }
  .speech-bubble {
    opacity: 1;
  }
}

@media (max-width: 1100px) {
  section {
    .wrapper-skills {
      padding: 80px var(--pad-1100) 98px;
    }
    .tech-info-head {
      padding-right: 42px;
      .tech-info {
        padding: 32px var(--pad-container-1100);
      }
      .all-techs {
        gap: 52px;
      }
    }
  }
}

@media (max-width: 800px) {
  section {
    .speech-bubble {
      transform: translateX(-22%) scaleX(-1);
      .bubble-content {
        transform: scaleX(-1);
      }
    }
    display: block;
    .wrapper-skills {
      flex-direction: column;
      padding: 20px var(--pad-800) 98px;
    }
    .tech-info-head {
      padding-right: 0px;
      max-width: 100%;
      h3 {
        font-size: var(--fontSize-2);
        font-weight: 400;
      }
      .tech-info {
        padding: 32px var(--pad-container-800);
        gap: 32px;
      }
    }
    .all-techs {
      gap: 24px;
      width: 100%;
    }
  }
}

@media (max-width: 550px) {
  section {
    h2 {
      font-size: 20px;
    }
    flex-direction: column;
    .all-techs {
      .tech {
        width: 80px;
        gap: 8px;
        > img {
          width: 56px;
          height: 56px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  section {
    flex-direction: column;
    .wrapper-skills {
      padding: 20px var(--pad-400);
    }
    .tech-info-head {
      .tech-info {
        gap: 32px;
        padding: 24px 8px;
      }
    }
    .all-techs {
      padding: 32px 10px;
      gap: 16px;
      .tech {
        gap: 8px;
        > p {
          font-size: var(--fontSize-1);
        }
        > img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
