<div class="burgermenu">
  @if (!isOpen) {
  <div (click)="toggelNav()">
    <img src="assets/imgs/icon-interactiv/menu.svg" alt="menu button" />
  </div>
  } @else{
  <div class="overlay-mobile-nav" (click)="isOpen = false">
    <nav class="mobile-nav" (click)="$event.stopPropagation()">
      <div class="language-switch">
        <input
          type="radio"
          name="language-mobile"
          id="eng-radio-small"
          [checked]="isActive('en')"
        />
        <label for="eng-radio-small" (click)="langChange.emit('en')">EN</label>
        <input
          type="radio"
          name="language-mobile"
          id="deu-radio-small"
          [checked]="isActive('de')"
        />
        <label for="deu-radio-small" (click)="langChange.emit('de')">DE</label>
      </div>
      <div class="header-links">
        <a
          [routerLink]="['/']"
          [fragment]="'about-me-section'"
          [class.aktiv]="aktivSection === 'about-me'"
          (click)="setAktiv('about-me')"
          >{{ "NAV.ABOUT_ME" | translate }}</a
        >
        <a
          [routerLink]="['/']"
          [class.aktiv]="aktivSection === 'skills'"
          (click)="setAktiv('skills')"
          [fragment]="'skill-section'"
          >{{ "NAV.SKILLS" | translate }}</a
        >
        <a
          [routerLink]="['/']"
          [class.aktiv]="aktivSection === 'projects'"
          (click)="setAktiv('projects')"
          [fragment]="'portfolio-section'"
          >{{ "NAV.PROJECTS" | translate }}</a
        >
      </div>
    </nav>
  </div>
  }
</div>
