@use "app/shared/styles/index" as *;
* {
  margin: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

a {
  text-decoration: none;
  color: var(--color-2);
}
