@use "./../../shared/styles/index" as *;

section {
  position: absolute;
  color: var(--color-2);
  width: 100%;
  @extend .d-flex-dirc-c;
  align-items: center;
  .footer-wrapper {
    padding: 0 96px;
    bottom: 42px;
    position: absolute;
    min-height: 126px;
    @extend .d-flex-align-c;
    justify-content: space-between;
    width: 100%;
    .footer-info {
      width: 100px;
      height: 10px;
    }
    .links-to,
    .info-footer {
      @extend .d-flex-dirc-c;
      gap: 8px;
      min-width: 180px;
    }
    .info-footer {
      position: absolute;
      bottom: 0;
    }
    .footer-name > p {
      @include font(FiraCode, var(--fontSize-2), 400, var(--color-1));
    }
    p {
      @include font(Karla, var(--fontSize-1), 400, var(--color-2));
    }
    .links-to a {
      @include font(Karla, var(--fontSize-1), 400, var(--color-2));
      position: relative;
      text-decoration: none;
      transition: all 200ms ease-in;
      letter-spacing: 0.5px;
      &::before {
        content: "•";
        position: absolute;
        left: -16px;
        top: 0;
        opacity: 0;
        color: var(--color-1);
        transition: all 200ms ease-in;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
        color: var(--color-1);
      }
    }
  }
}

app-letter-name {
  position: absolute;
  top: 0;
}

@media (max-width: 800px) {
  section {
    .footer-wrapper {
      padding: 0 56px;
      .footer-name {
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 180px;
      }
    }
  }
}
@media (max-width: 400px) {
  section {
    .footer-wrapper {
      padding: 0 18px;
    }
  }
}
