<section>
  <div class="footer-wrapper">
    <div class="footer-info">
      <div>
        <app-letter-name [hideNameOnMobile]="false"></app-letter-name>
      </div>
      <div class="info-footer">
        <p>Web Developer</p>
        <p>Berlin Germany</p>
      </div>
    </div>
    <div class="footer-name">
      <p>&copy; Kyrylo Novikov</p>
    </div>
    <div class="links-to">
      <div>
        <a href="https://github.com/Kyrylo-Novikov">Github</a>
      </div>
      <div>
        <a href="https://www.linkedin.com/in/kyrylo-novikov-831808368"
          >LinkedIn</a
        >
      </div>
      <div><a href="mailto:kyrylonovikov@gmail.com">Email</a></div>
      <div>
        <a routerLink="/legal-notice">{{ "LEGAL_NOTICE.TITEL" | translate }}</a>
      </div>
      <div>
        <a class="policy" routerLink="/policy">{{
          "POLICY.TITEL" | translate
        }}</a>
      </div>
    </div>
  </div>
</section>
