<section>
  <div class="footer-wrapper">
    <div>
      <div>
        <app-letter-name></app-letter-name>
      </div>
      <div class="info-footer">
        <p>Web Developer</p>
        <p>Berlin Germany</p>
      </div>
    </div>
    <div class="footer-name">
      <p>&copy; Kyrylo Novikov</p>
    </div>
    <div class="links-to">
      <div><a href="https://github.com/Kyrylo-Novikov">Github</a></div>
      <div>
        <a href="https://www.linkedin.com/in/kyrylo-novikov-831808368"
          >LinkedIn</a
        >
      </div>
      <div><a href="mailto:kyrylonovikov@gmail.com">Email</a></div>
      <div><a routerLink="/legal-notice">Legal Notice</a></div>
    </div>
  </div>
</section>
