<section>
  <div class="footer-wrapper">
    <div>
      <div>
        <app-letter-name></app-letter-name>
      </div>
      <div class="info-footer">
        <p>Web Developer</p>
        <p>Berlin Germany</p>
      </div>
    </div>
    <div class="footer-name">
      <p>&copy; Kyrylo Novikov</p>
    </div>
    <div class="links-to">
      <div><a href="">Github</a></div>
      <div><a href="">LinkedIn</a></div>
      <div><a href="">Email</a></div>
      <div><a href="">Legal Notice</a></div>
    </div>
  </div>
</section>
