@use "./../shared/styles/index" as *;
section {
  background-image: linear-gradient(
    45deg,
    var(--color-3) 0%,
    var(--color-3) 40%,
    var(--color-5) 90%,
    var(--color-5) 100%
  );
  line-height: 120%;
  @include font(Karla, 16px, 400, var(--color-1));
  height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  .content {
    // @extend .d-flex-dirc-c;
    height: 84vh;
    // max-width: 1920px;
    padding: 88px 96px 120px;
    // width: 100%;
    gap: 24px;
    .text-content {
      overflow: auto; /* oder scroll, je nach Bedarf */
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none; /* IE/Edge (alt) */
      // @extend .d-flex-dirc-c;
      gap: 24px;
      padding-bottom: 20px;
      h2 {
        padding-bottom: 8px;
      }
      .sub-headline {
        @include font(Karla, 19px, 900, var(--color-2));
      }
    }
    .policy-headline {
      display: flex;
      justify-content: center;
      height: 142px;
      .green-headline-700 {
        overflow-wrap: break-word;
        word-break: normal;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media (max-width: 868px) {
  section {
    .content {
      padding: 88px 28px 120px;
      .green-headline-700 {
        font-size: var(--fontSize-6);
      }
    }
  }
}
@media (max-width: 550px) {
  section {
    .content {
      .green-headline-700 {
        font-size: var(--fontSize-5);
      }
    }
  }
}

@media (max-width: 450px) {
  section {
    .content {
      padding: 88px 14px 120px;
      .green-headline-700 {
        font-size: var(--fontSize-4);
      }
    }
  }
}
